# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Jupyter
.ipynb_checkpoints/

# Data and artifacts
models/
reports/
outputs/

# OS
.DS_Store
Thumbs.db

# Local large datasets (do not version)
datasets/NTAD_National_Highway_Planning_Network_-129350642200434263.csv
